@-webkit-keyframes animacija {
  0% {
    top: -500px;
  }
  100% {
    top: 0px;
  }
}

@keyframes animacija {
  0% {
    top: -500px;
  }
  100% {
    top: 0px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bg-image {
  width: 100vw;
  height: 100vh;
  background: url("images/blur-clean.jpg") center center/cover no-repeat;
}

.container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container :nth-child(2) {
  background-color: rgba(156, 66, 66, 0.8);
  -webkit-animation: animacija 1.5s 3s ease-out backwards;
          animation: animacija 1.5s 3s ease-out backwards;
}

.container :nth-child(3) {
  background-color: rgba(209, 178, 38, 0.808);
  -webkit-animation: animacija 1.5s 5s ease-out backwards;
          animation: animacija 1.5s 5s ease-out backwards;
}

.container-item {
  position: relative;
  -webkit-animation: animacija 1.5s ease-out 1s backwards;
          animation: animacija 1.5s ease-out 1s backwards;
  width: 25vw;
  height: 40vh;
  border: 3px solid #fff;
  background-color: rgba(39, 38, 38, 0.8);
}

.item-text {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  color: #fff;
  font-size: 100px;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */