@charset 'UTF-8';

@import
    'abstracts/mixins';

@import
    'base/colors',
    'base/reset';


.bg-image{
    @include default-width-height;
    background: url('images/blur-clean.jpg') center center/cover no-repeat;
}
.container{
    @include default-width-height;
    display: flex;
    align-items: center;
    justify-content: space-around;
    :nth-child(2){
        background-color: $rosa;
        animation: animacija 1.5s 3s ease-out backwards;
    }
    :nth-child(3){
        background-color: $yellow;
        animation: animacija 1.5s 5s ease-out backwards;
    }
}
.container-item{
    position: relative;
    @include box-width-height;
    @include border;
    background-color: $grey;
    animation: animacija 1.5s ease-out 1s backwards;
}
.item-text{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: $white;
    font-size: 100px;
    font-weight: bold;
}