@mixin default-width-height {
    width: 100vw;
    height: 100vh;
}
@mixin border{
    border: 3px solid $white;
}
@mixin box-width-height{
    width: 25vw;
    height: 40vh;
}
@keyframes animacija {
    0%{
        top: -500px;
    }
    100%{
        top: 0px;
    }
}